body
{
    font-family: 'Sarabun', sans-serif;
    background-image: linear-gradient(135deg, rgba(238, 112, 255, 1) 0%, rgba(77, 225, 255, 1) 100%);
}

h1
{
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    text-decoration: underline;
    text-align:center;
    color: darkorchid;
}

h2
{
    font-weight: bold;
    text-indent: 40px;
}

a
{
    line-height: 1.7;
    text-decoration: none;
}

table
{
    background-color: white;
    border-color: black;
}