body
{
    font-family: 'Sarabun', sans-serif;
    background-color: skyblue;
}

h1
{
    color: red;
    text-align: center;
    text-decoration: underline;
}

h2
{
    color: darkmagenta;
    text-align: center;
}

p
{
    line-height: 1.65;
}

.hook
{
    color: darkred;
    font-weight: bold;
}

.repeat
{
    color: darkorchid;
    font-weight: bold;
    text-decoration: underline;
}