body
{
    background-color: lightpink;
}

h1
{
    color: red;
    text-align: center;
    text-decoration: underline;  
}

h2
{
    color: blue;
    text-align: center;
}

p
{
    font-style: italic;
}

#l1
{
    color: rgb(255, 53, 194);
    font-weight: bold;
}

.l2
{
    color: indianred;  
    font-weight: bold;
    text-decoration: underline;
}