body
{
    font-family: 'Sarabun', sans-serif;
    background-color: violet;
}

h1
{
    color: darkgoldenrod;
    text-align: center;
    text-decoration: underline;
}

table
{
    background-color: black;

}

tr
{
    background-color: white;
}